@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 1440px;
    font-family: montserrat;
}

.firstsection{
    background-image: url("../Project 3- Gaming Landing Page/Assets/Photos/futuristic-bg.png");
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.logoimg{
    margin-left: 100px;
    cursor: pointer;
}

.firstlist{
    margin-right: 300px;
    color: #cbcbcb;
    position: relative;
    top: 10px;
}

.ullist{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    
}

.list-items:hover{
cursor: pointer;
text-decoration: underline;
}

.navbtn{
    margin-right: 100px;
    
}

.navbtn1{
    background: transparent;
    border: transparent;
    cursor: pointer;
    font-size: small;
    margin-right: 20px;
    color: #cbcbcb;
}

.navbtn2{
    background-color: #fd844c;
    color: #ffffff;
    padding: 10px 25px;
    border: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: medium;
}
.navbtn1:hover{
    text-decoration: underline;
}

.firstmain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
}

.h1{
    color: #ffffff;
    font-size: 3.5vw;
    padding-top: 250px;
    padding-bottom: 40px;
    line-height: 70px;
}

.para1{
    color: #808080;
    padding-bottom: 50px;
    line-height: 25px;
}

.btn1{
    background-color: #fd844c;
    color: #ffffff;
    border: 1px solid #fd844c;
    padding: 10px 30px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}

.btn2{
    background:transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: medium;
    padding: 10px 30px;
    margin-left: 20px;
    cursor: pointer;
}

.fsecondpart{
    padding-top: 500px;
}

.playbtn{
    position: relative;
    bottom: 150px;
    right: 200px;
    cursor: pointer;
}

.king{
    color: #ffffff;
    font-size: 1.5vw;
}

.kingdiv{
    padding-bottom: 65px;
    position: relative;
    right: 190px;
}

.dash{
    position: relative;
    right: 60px;
    top: 20px;
}

.rightarrow{
    position: relative;
    left: 250px;
    bottom: 10px;
    cursor: pointer;
}

.h2{
    text-align: center;
    padding-top: 100px;
    font-size: 3vw;
}

.soldierwar{
     width: 270px;
    height: 341px;
    object-fit: cover;
    object-position: 77% 0;
}

.gamename{
    font-weight: 500;
    padding-bottom: 10px;
    color: #ffffff;
    padding-top: 10px;
    margin-left: 10px;
}

.genre{
    font-size: small;
    padding-bottom: 10px;
    color: #b7b7b7;
    margin-left: 10px;
}

.downbtn{
    background-color: #fd844c;
    color: #ffffff;
    padding: 10px 15px;
    border: transparent;
    font-size: small;
    position: relative;
    left: 155px;
    bottom: 53px;
    cursor: pointer;
}

.soldierwarbox{
    background-color: #424242;
    width: 270px;
    height: 100px;
    position: relative;
    bottom: 104px;
    opacity: 0.9;
}

.stars{
    margin-left: 10px;
}

.warriors{
    width: 270px;
    height: 341px;
    object-fit: cover;
}

.wariorsbox{
    background-color: #211f1f;
    width: 270px;
    height: 100px;
    position: relative;
    bottom: 104px;
    opacity: 0.9;
}

.dak{
    width: 270px;
    height: 341px;
    object-fit: cover;
    
    
}

.dakbox{
    background-color: #505064;
    width: 270px;
    height: 100px;
    position: relative;
    bottom: 104px;
    opacity: 0.9;
}

.garelaimg{
    width: 270px;
    height: 341px;
    object-fit: cover;
    
}

.game-containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.gungameimg{
    width: 500px;
    height: 330px;
    object-fit: cover;
    margin-right: 70px;
}

.thirdsec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    padding-top: 50px;
}

.h3{
    font-size: 3vw;
    padding-bottom: 36px;
}

.para3{
    color: #808080;
    padding-bottom: 36px;
}

.lbtn{
    background:transparent;
    color: #fd844c;
    border: 1px solid #fd844c;
    font-size: medium;
    padding: 10px 30px;
    margin-left: 20px;
    cursor: pointer;
}

.forthhead{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.h5{
    font-size: 3vw;
    margin-left: 100px;
}

.nextArrow{
    background-color: #fd844c;
    padding: 15px 7px;
    margin-right: 50px;
    margin-top: 50px;
    cursor: pointer;

}

.leftArrow{
    background-color: #ffdecd;
    padding: 15px 7px;
    margin-right: 10px;
    margin-top: 50px;
    cursor: pointer;
}

.weekgame{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 20px;
}

.humanbattleimg{
    max-width: 250px;
}

.gtitle{
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ogenre{
    color: #fd844c;
    margin-bottom: 30px;
    /* font-size: large; */
    font-weight: 500;
}

.gabout{
    color: #808080;
    margin-bottom: 50px;
    font-size: small;
}

.gamediv1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.gamesec{
    padding-bottom: 80px;
}

.part6{
    background-color: #000000;
    color: #ffffff;
    height: 1510px;
}

.gamestag{
    text-align: end;
    position: relative;
    bottom: 300px;
}

.h7{
    font-size: 3vw;
    text-align: center;
    padding: 50px;
}

.rec17{
    max-width: 425px;
    margin-left: 100px;
    z-index: +1;
}

.recandp{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.para7{
    margin-top: 60px;
    color: #808080;
    font-size: large;
}

.rec18{
    max-width: 325px;
    margin-right: 70px;
}

.rec90{
    max-width: 340px;
    text-align: end;
}

.rec1890{
    text-align: end;
    position: relative;
    right: 100px;
    bottom: 330px;
}

.rec606{
    position: relative;
    bottom: 200px;
    opacity: 0.5;
    
}

.part8{
    text-align: center;
    position: relative;
    bottom: 585px;
}

.h8{
    font-size: 3vw;
    margin-bottom: 20px;
}

.para8{
    color: #808080;
    margin-bottom: 40px;
}

footer{
    background: #000000;
    padding-bottom: 80px;
    padding-top: 40px;
    color: #808080;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 140px;
    
}

.para9{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: small;
}

.insta{
    padding: 0px 10px;
    cursor: pointer;
}
.facebook{
    cursor: pointer;
}
.twitter{
    cursor: pointer;
}

.footerlist{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: small;
}

.footerheads{
    font-weight: 600;
    color: #ffffff;
}

.lastlist:hover{
    cursor: pointer;
    text-decoration: underline;

}

.logo2{
    cursor: pointer;
}







